[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/freelancevence
[access "refs/for/refs/*"]
	read = group user/freelancevence
	push = group user/freelancevence
	label-Code-Review = -2..+2 group user/freelancevence
	label-Verified = -1..+1 group user/freelancevence
	rebase = group user/freelancevence
	removeReviewer = group user/freelancevence
	submit = group user/freelancevence
[access "refs/heads/*"]
	read = group user/freelancevence
	create = group user/freelancevence
	push = +force group user/freelancevence
	pushMerge = group user/freelancevence
[access "refs/tags/*"]
	push = +force group user/freelancevence
	pushTag = group user/freelancevence
	pushSignedTag = group user/freelancevence
